<div class="intro banner">
  <div class="container">
    <h1>Pair with <span>ember-a11y</span></h1>
    <p>Need a hand with a tricky programming problem? Or help finding the right path for a design solution? Or just someone to bounce ideas off for your product, site or business?</p>
    <p>We're available for free 30 minute daily pairing sessions.</p>
  </div>
</div>

<div class="container">
  <h2>Book a Session</h2>
  <h6>Note: Times are US Eastern</h6>
  <table>
    <thead>
      <tr>
        <th>Who?</th>
        <th>When?</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <%= render_person_row(person: person) %>
      <% end %>
    </tbody>
  </table>

  <div class="negotiate-time">
    <h3>Can't find a suitable time?</h3>
    <p>Get in touch! We'll work out a time that's good for us both.</p>

    <div class="negotiate-time-fields">
      <select id="contact-person">
        <option selected="selected" value="hello@withassociates.com">Choose a Pair partner</option>
        <% @with.each do |person| %>
          <option value="<%= person.email %>"><%= person.name %> (<%= person.skills %>)</option>
        <% end %>
      </select>
      <a href="#" id="negotiate-button" class="button">Get in touch</a>
    </div>
  </div>
</div>
